

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <div class="container">
    <%= link_to root_path,class: "navbar-brand" do %>
      <%= image_tag (asset_url('house.svg')), class: "logo__image--header" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-sm-baseline">
        <li class="nav-item header__item">
          <%= link_to 'Services', static_pages_services_path, class: "nav-link" %>
          <!-- <a class="nav-link active" aria-current="page" href="#">Services</a> -->
        </li>
        <li class="nav-item header__item">
          <%= link_to 'Contact', static_pages_contact_path, class: "nav-link px-5" %>
        </li>
        <li class="nav-item dropdown header__item">
          <a class="nav-link dropdown-toggle pe-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <% if logged_in? %>
          <li>
          <%= link_to "Log out", logout_path, data: { turbo_method: :delete } , class: "nav-link border-start ps-5" %>
         </li>
         <li>
           <%= link_to "Profile", user_path(current_user), class: "btn btn-outline-primary ms-2"  %>
        </li>
          </ul>
        </li>
        <% else %>
        <li class="nav-item header__item">
          <%= link_to 'Log In', login_path, class: "nav-link border-start ps-5" %>
        </li>
        <li class="nav-item header__item">
        <%= link_to new_user_path, class: "nav-link" do %>
        <button type="button" name="button" class="btn btn-outline-primary"> Create Your Account  </button>
        <% end %>
        </li>
        <% end %>


      </ul>

    </div>
  </div>
</nav>
